In [30]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
df = pd.read_csv('movies.csv')
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [32]:
df.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [33]:
df.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [34]:
df['genres'] = df['genres'].str.replace('|', ' ')
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy Romance
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['genres'])

In [36]:
cosine_sim = cosine_similarity(count_matrix)

In [37]:
def recommend_movie(title):
    idx = df[df['title'].str.lower() == title.lower()].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    top_movies = [df.iloc[i[0]].title for i in sim_scores[1:6]]
    
    print(f"\nðŸŽ¬ Movies similar to '{title}':\n")
    for m in top_movies:
        print(m)

In [38]:
recommend_movie('Toy Story (1995)')

ðŸŽ¬ Movies similar to 'Toy Story (1995)':

Antz (1998)
Toy Story 2 (1999)
Adventures of Rocky and Bullwinkle, The (2000)
Emperor's New Groove, The (2000)
Monsters, Inc. (2001)